<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="com.testcase.LoginTestCase"/>
      <class name="com.testcase.PIM_Dashboard_TestCase"/>
      <class name="com.testcase.Leave_DashBoard_TestCase"/>
      
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
